[build]
dockerfilePath = "Dockerfile"

[build.args]
VITE_API_URL = "${{VITE_API_URL}}"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
